<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-form">
      <form autocomplete="off" [formGroup]="loginForm">
        <ion-item>
          <ion-label position="floating">Folio</ion-label>
          <ion-input
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            maxlength="5"
            formControlName="folio"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="contrasenia"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="full"
          class="login-button"
          (click)="iniciarSesion(loginForm.value)">
          Ingresar
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>