<ion-header>
  <ion-toolbar class="toolbar" >
    <ion-title>Portal de denuncias coppel</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        Salir
      </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let denuncia of denuncias">
      <ion-label><strong>Folio:</strong> {{ denuncia.folio }}</ion-label>
      <ion-label><strong>Estatus:</strong> {{ denuncia.estatusInfo }}</ion-label>
      <ion-label><strong>Empresa:</strong> {{ denuncia.empresaName }}</ion-label>
      <ion-label><strong>Estado:</strong> {{ denuncia.estadoName }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngFor="let denuncia of denuncias">
    <ion-label><strong>Detalle:</strong>{{denuncia.detalle}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Agregar comentario</ion-label>
    <ion-input type="text" [(ngModel)]="nuevoComentario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cambiar estatus</ion-label>
    <ion-select [(ngModel)]="nuevoEstatus">
      <ion-select-option value="2">Atendiendo</ion-select-option>
      <ion-select-option value="3">Finalizar</ion-select-option>
      <ion-select-option value="4">Cancelar</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="confirmar()">Confirmar</ion-button>

</ion-content>
